---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Docker from "./icons/Docker.astro"
import React from "./icons/React.astro"
import Ollama from "./icons/Ollama.astro"
import Whatsapp from "./icons/Whatsapp.astro"
import PostgreSQL from "./icons/PostgreSQL.astro"
import Express from "./icons/Express.astro"
import TypeScript from "./icons/TypeScript.astro"
const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
    DOCKER: {
    name: "Docker",
  class: "bg-[#008fe2] text-white",
    icon: Docker,
  },
  REACT: {
    name: "React",
    class: "bg-[#003159] text-white",
    icon: React,
  },
  OLLAMA: {
    name: "Ollama",
    class: "bg-[#222] text-white",
    icon: Ollama,
  },
  WHATSAPP: {
    name: "Whatsapp",
    class: "bg-[#25D366] text-white",
    icon: Whatsapp,
  },
  POSTGRESQL: {
    name: "PostgreSQL",
    class: "bg-[#336791] text-white",
    icon: PostgreSQL,
  },
  EXPRESS: {
    name: "Express",
    class: "bg-[#333333] text-white",
    icon: Express,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-[#3178C6] text-white",
    icon: TypeScript,
  },
}
const PROJECTS = [
  {
    title: "AyudIA - Asistente Virtual para WhatsApp",
    description: "Bot inteligente para WhatsApp que responde preguntas y gestiona consultas empresariales usando IA (Ollama/OpenAI).",
    github: "https://github.com/alejpaa/ayudIA",
    image: "/projects/ayudIA.webp",
    tags: [TAGS.REACT,TAGS.OLLAMA,TAGS.DOCKER,TAGS.TAILWIND,TAGS.WHATSAPP],
  },
  {
    title: "BD1 Clínica - Gestión integral para clínicas",
    description:
      "Aplicación web para la gestión de pacientes, médicos, especialidades y turnos en clínicas. Permite registrar admisiones, realizar triajes, administrar especialidades y gestionar el personal médico.",
    link: "", // Agrega el enlace de despliegue si lo tienes
    github: "https://github.com/Matrix1102/bd1_clinica",
    image: "/projects/clinica.webp", // Cambia la ruta por la imagen que prefieras
    tags: [TAGS.REACT,TAGS.TYPESCRIPT,TAGS.EXPRESS, TAGS.POSTGRESQL]//["Node.js", "Express", "TypeScript", "React", "Vite"],
  },
  // {
  //   title: "SVGL - A beautiful library with SVG logos",
  //   description:
  //     "Biblioteca de logos SVG de las marcas más populares. +10k visitas al mes. +2K svgs descargados. Creado desde cero con Next.js, React y Tailwind CSS.",
  //   link: "https://svgl.vercel.app/",
  //   github: "https://github.com/pheralb/svgl",
  //   image: "/projects/svgl.webp",
  //   tags: [TAGS.NEXT, TAGS.TAILWIND],
  // },
  // {
  //   title: "AdventJS - Retos de programación con JavaScript y TypeScript",
  //   description:
  //     "Plataforma gratuita con retos de programación. Más de 1 millón de visitas en un mes. +50K retos completados. Creada desde cero con Next.js, React y Tailwind CSS.",
  //   link: "https://adventjs.dev",
  //   image: "/projects/adventjs.webp",
  //   tags: [TAGS.NEXT, TAGS.TAILWIND],
  // },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
      <div class="w-full md:w-1/2">
        <div class="relative flex flex-col items-center h-80 transition duration-500 ease-in-out transform shadow-xl overflow-hidden rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
          <img alt={title} class="object-cover w-full h-full transition duration-500 md:group-hover:scale-105" loading="lazy" src={image} />
        </div>
      </div>

      <div class="w-full md:w-1/2 md:max-w-lg">
        <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
          {title}
        </h3>
        <div class="flex flex-wrap mt-2">
          <ul class="flex flex-wrap gap-2">
            {tags.map((tag) => (
            <li>
              <span
                class={`flex items-center gap-x-1 md:gap-x-2 rounded-full text-[10px] md:text-xs ${tag.class} py-1 px-1.5 md:px-2`}
              >
                <tag.icon class="size-3 md:size-4" />
                {tag.name}
              </span>
            </li>
          ))}
          </ul>

        <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



